@import url('https://fonts.googleapis.com/css?family=Merriweather|Muli:300,400');

html {
    font-size: 1em;
    height: 100%;
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    line-height: 1.45;
    color: black;

    position: relative;
    margin: 0;
    padding: 160px 0;
    min-height: 100%;
}

p {
    margin-bottom: 1.3em;
}

h1, h2, h3, h4 {
    font-family: 'Merriweather', serif;
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;
}

h1 {
    margin-top: 0;
    font-size: 6.854em;
}

h2 {
    font-size: 4.236em;
}

h3 {
    font-size: 2.618em;
}

h4 {
    font-size: 1.618em;
}

small, .font_small {
    font-size: 0.618em;
}

footer#footer {
    padding-top: 3rem;
    padding-bottom: 3rem;

    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}


/* a styling */
a {
    color: #eb6651;
    display: inline-block;
    padding: 0;
    border-bottom: 1px solid rgba(63,63,63,0);
    position: relative;
    background-color: transparent;
}

a:hover {
    color: #eb6651;
    border-color: #eb6651;
    text-decoration: none;
}

section#main {
    margin: 0 0 40px 0;
}

section#main .title {
    margin: 0 0 40px 0;
}

.navbar-brand {
    margin: 0 auto !important;
}

.row-centered {
    text-align: center;
}

.btn-primary {
    color: #fff;
    background-color: #eb6651;
    border-color: #eb6651;
}

.btn-primary:hover {
    color: #fff;
    background-color: #eb594c;
    background-color: #eb594c;
}

.blockquote-footer {
    text-transform: capitalize;
}

.sub-text {
    margin-bottom: 3em;
}

#loading {
    padding-bottom: 40px !important;
    padding-top: -90px !important;
}

#result #lyrics {
    font-size: 1rem !important;
}

::selection {
    background: rgba(25, 29, 31, 0.2);
    text-shadow: none;
    color: #000;
}






